
.toggle-cb {
  display: none;
}
.toggle-label {
  position: relative;
}
.toggle-inner {
  content: url(images/check_off.png);
}
.toggle-cb:checked + .toggle-label .toggle-inner {
  content: "";
  position: absolute;
}
.toggle-cb:checked  + .toggle-label .toggle-switch {
  content: url(images/check_on.png);
  position: absolute;
}
